@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

a {
    text-decoration: none;
    display: inline;
    color: #fff;
}

a:hover {
    color: #79589F;
}

.navbar {
    display: grid;
    height: 80px;
    width: 100%;
    grid-template-rows: 1fr;
    font-size: 1rem;
}

.icons-container {
    position: absolute;
    top: 25%;
}

.icons-container .icons {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    font-size: 35px;
    grid-gap: 10px;
}

.title-bhr {
    border-bottom: 1px solid #fff;
    padding: 20px 5px;
    text-align: center;
    margin: 0 0 10px 0;
}

.btn-card {
    border: 1.5px solid rgba(157, 40, 116, 1);
}

.footer-icons-container {
    display: grid;
    justify-self: end;
}

.footer-icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    font-size: 1.5em;
}

.footer-icons .icon-item {
    color: #fff;
    background: none;
    transition: .2s;
    text-shadow: 0 0 10px #fff;
}

.footer-icons .icon-item:hover {
    box-shadow: none;
    text-shadow: 0 0 10px rgba(157, 40, 116, 0.9);
    transition: .2s;
}

.badge-msm {
    color: #ccc;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.card {
    padding: 10px;
    border-radius: 5px;
    transition: .2s;
}

body::-webkit-scrollbar {
    width: 7px;
    background-color: #333;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(157, 40, 116, .5);
    border-radius: 10px;
}

.card .header-card {
    text-align: center;
}

.img-card {
    position: relative;
}

.img-card .date-info {
    position: absolute;
    bottom: 4px;
    padding: 10px 15px;
    right: 0;
    border-top-left-radius: 10px;
    background-color: #fff;
    font-size: .8em;
    color: #333;
}

.body-card {
    text-align: justify;
    line-height: 1.5;
    padding: 10px 0;
}

.footer-card {
    box-sizing: border-box;
}

.btn-card:hover {
    background: rgba(157, 40, 116, 1);
    color: #fff;
    transition: .2s;
}

.jumbotron {
    width: 100%;
    padding: 1.5em .5em;
    color: #333;
    background-color: #ccc;
    box-sizing: border-box;
}

.navigator {
    background: linear-gradient(to right, rgba(157, 40, 116, 1) 0%, rgba(53,53,53,1) 100%);
}

.info-header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.link-perfil {
    display: grid;
    justify-self: end;
}

.info-content .link-perfil {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.info-content .link-perfil a {
    color: black;
    border-bottom: 1px solid black;
}

.nav-logo-container {
    width: 100%;
}

.nav-logo-container img {
    height: 85px;
    filter: invert(100%);
}

.container {
    max-width: 1200px;
    width: 95%;
}

.btn {
    padding: 10px 25px;
    text-align: center;
    border-radius: 5px;
}

.btn-block {
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.btn-primary {
    color: #fff;
    transition: .2s;
    font-weight: bold;
}

.btn-primary:hover {
    color: #fff;
    transition: .2s;
    background: linear-gradient(to right, #a044a9 0%, rgba(53,53,53,1) 100%);
}

.main-button {
    background-color: #fff;
    color: #333;
    transition: .2s;
}

.main-button:hover {
    transition: .2s;
    box-shadow: 0 0 8px 0 rgba(157, 40, 116, 0.9);
}

@media only screen and (min-width: 1024px) {
    .container {
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        padding: 0 15px;
    }
}


@media only screen and (max-width: 768px) {
    .btn {
        font-size: 0.7rem;
    }
    
    .nav-logo-container img {
        height: 75px;
    }
    
    .main-text {
        font-size: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .main-text {
        font-size: 18px;
    }
    
    .nav-logo-container img {
        height: 65px;
    }
}

@media only screen and (max-width: 320px) {
    .nav-logo-container img {
        height: 50px;
    }
    
    .btn {
        padding: 10px 15px;
    }
}

@media only screen and (max-width: 320px) {

}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60px;
    align-items: center;
}

footer {
    background-color: #333;
}

