@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1200px;
    width: 95%;
}

.btn {
    padding: 10px 25px;
    border-radius: 5px;
}

.btn-primary {
    color: #fff;
    transition: .2s;
    font-weight: bold;
}

.btn-primary:hover {
    color: #fff;
    transition: .2s;
    background: linear-gradient(to right, #a044a9 0%, rgba(53,53,53,1) 100%);
}

.main-button {
    background-color: #fff;
    color: #333;
    transition: .2s;
}

.main-button:hover {
    transition: .2s;
    box-shadow: 0 0 8px 0 rgba(218, 76, 231, 0.9);
}

@media only screen and (min-width: 1024px) {
    .container {
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        padding: 0 15px;
    }
}

@media only screen and (max-width: 768px) {
    .btn {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 320px) {
    .btn {
        padding: 10px 15px;
    }
}